div.NotFound {
    font-size: 48px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}
