div.AuthLogin {
    border: 1px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    div.LoginWrapper {
        flex: 0 1 600px;
        padding: 24px;

        form.Form {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            gap: 8px;

            div.FormGroup {
                width: 100%;

                input.FormInput {
                    width: 100%;
                    padding: 8px 12px;
                    border-radius: 2em;
                    border: 1px solid gray;
                    outline: none;

                    &::placeholder {
                        text-align: center;
                    }
                }
            }

            button.SubmitBtn {
                padding: 8px 12px;
                border-radius: 2em;
                border: none;
                background-color: rgb(90, 197, 121);
                color: white;
                font-weight: bold;
                cursor: pointer;
                transition: all ease-in-out 300ms;

                &:hover {
                    box-shadow: 0 0 6px gray;
                }
            }
        }
    }
}
