div.CoursesPage {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    div.PageHeading {
        align-items: center;
        flex: 0 0 auto;
        color: white;

        div.PageTitle {
            background-color: rgb(90, 197, 121);
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: 1em;

            div.Title {
                font-size: 2.5rem;
                padding: 16px;
                text-align: center;
                font-weight: bold;
            }

            div.TitleDescription {
                width: min(100%, 800px);
                align-self: center;
                padding: auto;
                text-align: center;
            }
        }

        div.PageRoutePath {
            background-color: rgb(83, 183, 108);
            display: flex;
            flex-flow: row nowrap;
            font-weight: bold;
            justify-content: center;
            padding: 1.5em 1em;

            div.PageRoutePathWrapper {
                flex: 0 1 1270px;
                display: flex;
                flex-flow: row nowrap;

                div.PageRoute {
                    &:not(:last-child)::after {
                        content: "/";
                        padding: 0 12px;
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    div.PageBody {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 12px;

        div.PageBox {
            flex: 0 1 1270px;

            div.CoursesList {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                gap: 12px 12px;

                div.CourseListItem {
                    position: relative;
                    border: 1px solid lightgray;
                    flex: 0 1 400px;
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 8px;
                    border-radius: 4px;

                    div.CourseImage {
                        position: relative;
                        height: 250px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: flex-start;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    div.AboutCourse {
                        padding: 1em;
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 12px;

                        div.CourseTitle {
                            font-weight: bold;
                            display: block;

                            div.TitleWrapper {
                                padding: 12px;
                                display: inline-block;
                                background-color: rgb(90, 197, 121);
                                color: white;
                                border-radius: 8px;
                                text-transform: uppercase;
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }

                        div.CourseDescription {

                            div.DescriptionWrapper {
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                height: calc(1.2em * 3);
                                transition: height ease-in-out 1s;
                            }
                        }
                    }

                    div.TrainerBox {
                        display: flex;
                        flex-flow: row nowrap;
                        gap: 4px;
                        padding: 8px;
                        border-top: 1px solid lightgray;

                        div.TrainerImage {
                            flex: 0 0 auto;
                            width: 60px;
                            height: 60px;
                            overflow: hidden;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items: flex-start;

                            img {
                                height: 60px;
                                width: auto;
                            }
                        }

                        div.TrainerName {
                            flex: 1 1 auto;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                        }

                        div.CourseStats {
                            flex: 0 0 75px;
                            display: flex;
                            flex-flow: column nowrap;
                            gap: 4px;

                            div.Stats {
                                flex: 1 1 auto;
                                display: flex;
                                flex-flow: row nowrap;
                                align-items: center;
                                gap: 4px;

                                div.Logo {
                                    height: 20px;

                                    img {
                                        height: 20px;
                                        width: auto;
                                    }
                                }

                                div.Count {
                                    color: slategrey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
