div.AppContainer {
    flex: 1 1 auto;
    position: relative;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;

    div.Page {
        flex: 1 1 auto;
    }

}
